{erl_opts, [debug_info]}.

{profiles, [
    {test, [
        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},
        {xref_ignores, [
        ]},
        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]}
    ]},
	{doc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{check, [
		{dialyzer, [
		  {warnings, [
			  no_return,
			  no_opaque
		  ]}
		]},
		
		{erl_opts, [
			debug_info
		]}
	]}
]}.